{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <div class="row mt-3">
        <div class="col">
            <h3>Логотип компании</h3>
            <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequuntur corporis eum explicabo,
                ipsa ipsam magnam maiores minima odit pariatur porro possimus, quam quisquam ratione sunt tenetur ut
                vero voluptatem?
            </p>
        </div>
        <div class="col">
            <h3>Новинки компании</h3>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for item in products %}
                        <div class="carousel-item">
                            <img src="{{ item.image.url }}" class="d-block w-100" alt="{{ item.name|capfirst }}">
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Назад</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Вперёд</span>
                </button>
            </div>
        </div>
    </div>
{% endblock %}