{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название товара</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        {% for item in product %}
            <tr>
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.products.name }}</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}